<table class="standings">
    <tr>
        <th class="name-col">Joukkue</th>
        <th class="number-col">V</th>
        <th class="number-col">T</th>
        <th class="number-col">H</th>
        <th class="number-col">TM</th>
        <th class="number-col">PM</th>
        <th class="number-col">P</th>
    </tr>
    <tr *ngFor="let perf of performances">
        <td>{{ perf.teamName }}</td>
        <td class="number-col">{{ perf.wins }}</td>
        <td class="number-col">{{ perf.ties }}</td>
        <td class="number-col">{{ perf.losses }}</td>
        <td class="number-col">{{ perf.goalsFor }}</td>
        <td class="number-col">{{ perf.goalsAllowed }}</td>
        <td class="number-col">{{ perf.points }}</td>
    </tr>
</table>
