@import '../common.scss';

.main-container {
    display: flex;
    min-height: 100vh;

    .nav-bar {
        flex: 0 0 7rem;
        background-color: #A3DF8E;

        a {
            height: 3.5rem;
            font-size: 0.75rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid transparent;
            border-bottom-width: 2px;
            margin: 0 0.5rem;
            
            &.active-route {
                font-weight: 600;
            }

            &:visited {
                color: $main-text-color;
            }

            &:hover {
                //background-color: rgba(45, 185, 68, 0.5);
                border-bottom-color: #5F9F49;
            }
        }

        button {
            margin-top: 1.5rem;
            background-color:$dark-green;
            border: none;
            padding: 1rem;
            font-weight: bold;
            cursor: pointer;
            color: white;

            &:hover {
                background-color: rgba($dark-green, 0.5);
            }
        }
    }

    .content {
        flex: 1 1 auto;
    }
}