.summary-container {
    display: flex;
    padding: 1rem;

    .summary-card {
        width: 20rem;
        background-color: rgb(243, 243, 243);
        margin: 1rem;
        padding: 0.5rem;
    }
}